.stat-card {
    padding: 1rem;
    border: 0.2rem solid #ddd;
    border-radius: 1rem;

    background-color: #c4e8ea;
}

.stat-card__title {
    margin-top: 0;
}

.stat-card__value {
    margin-bottom: 0;
    font-weight: bold;
}
